<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/grid.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

  </head>
  <body>
    <a href="/newBook">back</a>
    <h1>New Author</h1>
<!-- POST A NEW AUTHOR -->
    <form action="/author/post" method="POST">
      <input type="text" name="name" placeholder="Name"><br>
       <input type="text" name="bio" placeholder="bio"><br>

       <button>Create</button>
    </form>

  </body>
</html>
