<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <!-- <link rel="stylesheet" type="text/css" href="./normalize.css"> -->
    <link rel="stylesheet" type="text/css" href="./grid.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  </head>
  <body>
    <section>
      <div class="container">
        <h1 class='title'>Book Dicussion</h1>
<!-- TO ADD NEW BOOK -->
        <div class="add_Btn">
          <a  href="./newBook">Add New Book</a>
        </div>

<!-- SHOW ALL BOOKS -->
        <% for(let i=0; i < result.length;i++){ %>
  <div class="book">
       <h3 class='booktitle'>Title: <%=result[i].title %></h3>
       <img src="<%= result[i].img_url%>"  alt="xx">
       <div class="description">
          <h4> <%=result[i].desc %></h4><br>

       </div>

<!-- SHOR MORE INFO -->
       <a href="/comments/<%=result[i].id %>">Discussion</a>
       <a href="/"></a>

   </div>
   <% } %>
  </div>

      </div>


    </section>



  </body>
</html>
