
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

.book{
    border: 1px solid black;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    width:23vw;
    /* height: 35em; */
    /* max-height: 40em; */
      }

.title{
  /* color:red; */
  text-align: center;
  margin: 1em;
}

.add_Btn{
  border: 1px solid black;
  display: block;
  width:20vw;
  /* text-align: center; */
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  /* color:red; */

}
.booktitle{
  margin-top: 1em;
  margin-bottom: 1em;
}


img{
max-width: 200px;
display: block;
margin-left: auto;
margin-right: auto;
}
.description{
margin: 2em;
}


.box{
    border: 1px solid black;
    display: inline-block;
    padding: 10px;
    margin: 10px;
      width:23vw;
      }
.comment_box{
  margin-top: 1em;
  /* border: 1px solid black; */
  /* display: inline-block; */
  /* padding: 10px; */
  /* margin: 10px; */
    /* width:23vw; */
  }
  a{
    text-decoration: none;
  }
